<h2>New Article</h2>
<%= simple_form_for(@article) do |f| %>
  <div class="row position-relative">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control " %>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit class: "btn btn-outline-dark m-3 col-8" %>
  </div>
<% end %>
  